.expense-item {
  display: flex;
  background-color: #504855;
  color: white;
  margin: 20px auto;
}

.expense-item__description {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  margin: 0 15px;
}

.expense-item__title {
  font-size: 22px;
}

.expense-item__price {
  background-color: #47138f;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 12px;
  border: 1px solid white;
}